# The boot menu of the MyOS USB stick / ISO (read by GRUB).
set timeout=5
set default=0
set menu_color_normal=white/blue
set menu_color_highlight=blue/white

menuentry "Start MyOS" {
    linux  /live/vmlinuz boot=live quiet
    initrd /live/initrd.img
}

menuentry "Start MyOS (safe graphics)" {
    linux  /live/vmlinuz boot=live quiet nomodeset
    initrd /live/initrd.img
}

menuentry "Start MyOS (show every message, for fixing problems)" {
    linux  /live/vmlinuz boot=live console=tty0 console=ttyS0,115200 systemd.show_status=1
    initrd /live/initrd.img
}

menuentry "Switch off" {
    halt
}
